* {
    box-sizing: border-box;
} 

body {
    background-color: #f9fafc;
    font-family: "Open Sans", cursive;
    margin-bottom: 30px;
}

header h1 {
    color: #000;
    font-size: 16px;
}

.navigation ul {
    color: #69696a;
    text-decoration: none;
    list-style-type: none;
    padding-left: 0;
}

.nav_link {
    color: #69696a;
    text-decoration: none;
    margin: 0;
}

.button1 a {
    background-color: #000;
    border: none;
    border-radius: 12px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 3px 12px;
}

h2 {
    color: #000;
    font-size: 36px;
}

.info {
    color: #69696a;
    border-left: 5px solid #69696a;
    padding-left: 10px;
}

.button2 a {
    background-color: #000;
    border: none;
    border-radius: 12px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 3px 12px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(247, 193, 162, 0.7);
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 0;
}

h3 {
    color: #000;
}

.footer_link ul {
    text-decoration: none;
    list-style-type: none;
    padding-left: 0;
    display: flex;
    justify-content: right;
}

.footer_link a {
    text-decoration: none;
    color: #69696a;
    padding: 8px;
}

@media screen and (min-width: 768px) {
    .info {
        width: 50%;
    }
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .navigation ul {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    a.nav_link {
        padding: 4px;
    }
    .button1 {
        display: flex;
        flex-direction: row;
    }
}

/*media query goes here
@media screen and (min-width: 768px;) {
    changes to elements goes in here
} */

/* circles are empty divs in a section with colored background and opacity level
border radius 50%, position them with absolute position */

/* .circle {
    background-color
    opacity
    border-radius
    position absolute
}
.circle1 {
    width:
    height:
    top: 30px etc.
}

display: none
or only put div styles inside media query because they'll take up 0x0 pixels by default
z-index ?? */