* {
    box-sizing: border-box;
} 

body {
    background-color: #f9fafc;
    font-family: "Open Sans", cursive;
    margin-bottom: 30px;
}

header h1 {
    color: #000;
    font-size: 16px;
}

.navigation ul {
    color: #69696a;
    text-decoration: none;
    list-style-type: none;
    padding-left: 0;
}

.nav_link {
    color: #69696a;
    text-decoration: none;
    margin: 0;
}

.button1 a {
    background-color: #000;
    border: none;
    border-radius: 12px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 3px 12px;
}

h2 {
    color: #000;
    font-size: 36px;
}

.info {
    color: #69696a;
    border-left: 5px solid #69696a;
    padding-left: 10px;
}

.button2 a {
    background-color: #000;
    border: none;
    border-radius: 12px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 3px 12px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(247, 193, 162, 0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 0;
}

h3 {
    color: #000;
}

.footer_link ul {
    text-decoration: none;
    list-style-type: none;
    padding-left: 0;
    display: flex;
    justify-content: right;
}

.footer_link a {
    text-decoration: none;
    color: #69696a;
    padding: 8px;
}

@media screen and (min-width: 768px) {
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .navigation, ul {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    a.nav_link {
        padding: 4px;
    }
    .button1 {
        display: flex; 
    }
    main {
        margin-top: 80px;
        width: 50%;
    }
    .circle1 {
        background-color: rgba(247, 136, 167, 0.6);
        opacity: 50%;
        border-radius: 50%;
        position: absolute;
        width: 200px;
        height: 200px;
        top: 90px;
        right: 100px;
    }
    .circle2 {
        background-color: rgba(207, 130, 213, 0.6);
        opacity: 50%;
        border-radius: 50%;
        position: absolute;
        width: 100px;
        height: 100px;
        top: 120px;
        right: 50px;
    }
    .circle3 {
        background-color: rgba(247, 193, 162, 0.7);
        opacity: 50%;
        border-radius: 50%;
        position: absolute;
        width: 150px;
        height: 150px;
        top: 200px;
        right: 50px;
    }
}