body {
    background-color: #f9fafc;
    font-family: "Open Sans", cursive;
    margin-bottom: 30px;
}

header h1 {
    color: #000;
    font-size: 16px;
}

.navigation ul {
    color: #69696a;
    text-decoration: none;
    list-style-type: none;
}

.nav_link {
    color: #69696a;
    text-decoration: none;
}

.button1 {
    background-color: #000;
    border: none;
    border-radius: 12px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 3px 12px;
}

h2 {
    color: #000;
    font-size: 36px;
}

.info {
    color: #69696a;
    border-left: 5px solid #69696a;
    padding-left: 10px;
}

.button2 {
    background-color: #000;
    border: none;
    border-radius: 12px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 3px 12px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(247, 193, 162, 0.7);
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 0;
}

h3 {
    color: #000;
}

.footer_link ul {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    justify-content: right;
}

.footer_link a {
    text-decoration: none;
    color: #69696a;
}