body {
    background-color: #f9fafc;
    font-family: "Open Sans", cursive;
}

header {
    color: #000;
}

.navigation ul {
    color: #69696a;
    text-decoration: none;
    list-style-type: none;
}

.nav_link {
    color: #69696a;
    text-decoration: none;
}

.button1 {
    background-color: #000;
    border: none;
    border-radius: 12px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
}

h2 {
    color: #000;
}

.info {
    color: #69696a;
    border-left: 5px solid #69696a;
    padding-left: 10px;
}

.button2 {
    background-color: #000;
    border: none;
    border-radius: 12px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(247, 193, 162, 0.7);
}

h3 {
    color: #000;
}

.footer_link ul {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    justify-content: right;
}

.footer_link a {
    text-decoration: none;
    color: #69696a;
}