body {
    background-color: #f9fafc;
    font-family: "Open Sans", cursive;
}

header {
    color: #000;
}

.navigation ul {
    color: #69696a;
    text-decoration: none;
    list-style-type: none;
}

.nav_link {
    color: #69696a;
    text-decoration: none;
}

.button1 {
    background-color: #000;
    border: none;
    color: #fff;
    text-align: center;
    text-decoration: none;
    display: block;
}

h2 {
    color: #000;
}

.info {
    color: #69696a;
    border-left: 5px solid #69696a;
    padding-left: 10px;
}

.button2 {
    background-color: #000;
    border: none;
    color: #fff;
    text-align: center;
    text-decoration: none;
    display: block;
}

h3 {
    color: #000;
}

.footer_link ul {
    text-decoration: none;
    list-style-type: none;
}

.footer_link a {
    text-decoration: none;
    color: #69696a;
}